body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #0f172a;
    color: white;
}

.controls {
    margin: 20px;
}

button, select {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
}

#array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    margin-top: 30px;
}

.bar {
    width: 20px;
    margin: 0 2px;
    background: #38bdf8;
}
